* {
    padding: 0;
    margin: 0;
}

body {
    background: #F5F5F5 url(./img/background.jpg);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: .90em;
    padding: 0;
    margin: 0;
}

img {
    border: none;
}
a {
    color: #777;
    text-decoration: none;
}
a:hover {
    color: #555;
    text-decoration: none;
}
li {
    color: #036DA7;
    list-style-type: none;
    margin-bottom: 6px;
}
#wrap {
    margin: 0 auto;
    width: 950px;
    background: #fff;
}

#header {
    height: 80px;
    background: #1A455A;
    margin: 0 0 10px 0;
}
#header a {
    color: #fff;
    text-decoration: none;
}
#header h1 {
    color: #fff;
    font-size: 2em;
    padding: 20px 0 0 20px;
    font-weight: 100;
}
#header h2 {
    color: #eee;
    font-size: 1.2em;
    padding: 0 0 0 20px;
    font-weight: 100;
}
#headerlinks {
    float: right;
    padding: 30px 20px 0 0;
}
#headerlinks a {
    color:#fff;
    padding: 0 10px;
}
#headerlinks a:hover {
    color:#fff;
}

#sidebar {
    width: 210px;
    float: right;
    background: #FFF;
    color: #666;
    margin-right: 20px;
}
#sidebar .box {
    margin-bottom: 10px;
    padding: 10px 3px;
    color: #666;
}
#sidebar h2 {
    font-size: 1.2em;
    font-weight: 100;
    padding: 3px;
}
/*//////*/
#sidebar2 {
    width: 210px;
    float: right;
    background: #FFF;
    color: #666;
    margin-right: 20px;
}
#sidebar2 .box {
    margin-bottom: 10px;
    padding: 10px 3px;
    color: #666;
}
#sidebar2 h2 {
    font-size: 1.2em;
    font-weight: 100;
    padding: 3px;
}



/*//////*/
#content {
    margin-left: 20px;
    margin-right: 250px;
    text-align: justify;
    color: #777;
}
#content .post-img{
    width: 900px;
    height: 650px;

}
#content h2 {
    color: #555;
    font-size: 1.4em;
    font-weight: 200;
}
#content p { margin: 10px 0 20px 0; line-height: 25px;}
#footer {
    clear: both;
    color: #eee;
    background: #222;
    text-align: left;
    margin: 20px 0px 0px 0px;
    padding: 25px 20px;
    font-size: .9em;
}
#footer a { color : #ddd; text-decoration: none; }
.post-span {color: #d30d1a; font-size:12px;}
.post-img{margin-top:10px;}

/* ======= Header ======= */
.header {
    padding: 30px 0;
    background: #f8fcff;
    border-top: 20px solid #214e62;
}
.header .btn {
    margin-top: 60px;
    font-weight: bold;
}
.header .profile-image {
    margin-right: 10px;
    padding: 1px;
    border: 2px solid #1A455A;
    border-radius: 10%;
    width: 200px;
    height: 200px;
}
.header .profile-content .name {
    color: #49515a;
    font-size: 38px;
    margin-bottom: 5px;
    margin-top: 30px;
}
.header .profile-content .desc {
    color: #778492;
    font-family: "Lato", arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
}
.header .profile-content .social a {
    background: #b0b7bf;
    width: 36px;
    height: 36px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #fff;
    text-align: center;
}
.header .profile-content .social a:hover {
    background: #778492;
}
.header .profile-content .social a .fa {
    font-size: 20px;
    padding-top: 8px;
}


a {
//text-decoration: none;
    color: rgba(254, 254, 248, 0.99);
    font-family: Verdana, sans-serif;
}
a:hover {
    color: #cc0000;
    font-weight: bold;
    text-decoration: none;
}
a:visited{
    color: black;
}
a:link{

    text-decoration: none;

}